## Assignment 2

### Method no 1

In [12]:

name="Maria Noor Amjad"
father_name="Pervaiz Iqbal Amjad"
age= 27
gender= "Female"
batch="23"
print("NED Student identity card")
print("Batch: ", batch)
print("Name: ", name)
print("Father's Name: ", father_name )
print("Age: ", age)
print("Gender: ", gender)

NED Student identity card
Batch:  23
Name:  Maria Noor Amjad
Father's Name:  Pervaiz Iqbal Amjad
Age:  27
Gender:  Female

### Method no 2

In [16]:

name="Maria Noor Amjad"
father_name="Pervaiz Iqbal Amjad"
age= 27
gender= "Female"
student_card= """
NED Student Card
Batch, """ + str(batch) + """\nStudent name: """ + str(name)+"""\nFather's 
Name: """ + str(father_name)+"""\nage: """ + """gender: """ + str(gender)
print(student_card)

NED Student Card
Batch, 23
Student name: Maria Noor Amjad
Father's
Name: Pervaiz Iqbal Amjad
age: gender: Female

In [25]:
#"". #function and then add dot press tab to see all functions 
a = "hello world"
print(a.capitalize())

Hello world

### Method 3

In [31]:
# Method 3
studen_card="""
NED Student Card
Batch: {}
Name: {} Father's Name: {}
Age: {} Gender: {} """.format(batch, name, father_name, age, gender)
print(studen_card)

NED Student Card
Batch23
Name: Maria Noor Amjad Father's Name Pervaiz Iqbal Amjad
Age: 27 Gender Female

### Method no 4

In [33]:

studen_card="""
NED Student Card
Batch: {0}
Name: {1} Father's Name: {2}
Age: {3} Gender: {4} """.format(batch, name, father_name, age, gender)
print(studen_card)

NED Student Card
Batch: 23
Name: Maria Noor Amjad Father's Name: Pervaiz Iqbal Amjad
Age: 27 Gender: Female

### Method no 5

In [38]:
student_card = f"""NED Student Card
Batch: {batch}
Name: {name} Father's Name: {father_name}
Age: {age} Gender: {gender} """
print(student_card)

NED Student Card
Batch: 23
Name: Maria Noor Amjad Father's Name: Pervaiz Iqbal Amjad
Age: 27 Gender: Female

### Different String Methods

### Second Task

In [68]:
#print()best method write function name and press shift plus tab
str1 = "maria noor"
str2="maria\tnoor"
str4="maria"
str5="1236"
print(str1.capitalize())
print(str1.casefold())
print(str1.center(60))
print(str1.count("o"))
str1.encode()

Maria noor
maria noor
                         maria noor
2

b'maria noor'

In [85]:
print(str1.endswith("r"))
str2.expandtabs(8)
print(str1.find("o"))
str3={'name': 'maria', 'age' : 27}
print('My name is {name} and my age is {age}'.format_map(str3))
str1.index("n")

True
7
My name is maria and my age is 27

6

In [97]:
print(str1.isalnum())

print(str4.isalpha())
print(str1.isascii())

print(str5.isdecimal())
print(str1.isdigit())
print(str1.isidentifier())

False
True
True
True
False
False

In [98]:
str1.islower()

True

In [100]:
str5.isnumeric()

True

In [101]:
str1.isprintable()

True

In [102]:
str1.isspace()

False

In [103]:
str1.istitle()

False

In [104]:
str1.isupper()

False

In [108]:
str1.join(['amjad ',' 27'])

'amjad maria noor 27'

In [109]:
str1.ljust(50,';')

'maria noor;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;'

In [110]:
str1.lower()

'maria noor'

In [113]:
str1.lstrip('mar')

'ia noor'

In [118]:
str1new=str1.maketrans("n","m")
print(str1.translate(str1new))

maria moor

In [119]:
str1.partition('n')

('maria ', 'n', 'oor')

In [124]:
print(str1.removesuffix('noor'))
print(str1.removeprefix('maria '))

maria
noor

In [125]:
str1.replace('noor','amjad')

'maria amjad'

In [126]:
str1.rfind('amj') #specified character not found is checked

-1

In [128]:
str1.rindex('no')

6

In [129]:
str1.rjust(50,';')

';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;maria noor'

In [130]:
str1.rpartition('ia')

('mar', 'ia', ' noor')

In [131]:
str1.rsplit(' ')

['maria', 'noor']

In [135]:
print(str1.rstrip('noor'))

maria

In [137]:
print(str1.split(' '))

['maria', 'noor']

In [138]:
student_card.splitlines()

['NED Student Card',
 'Batch: 23',
 "Name: Maria Noor Amjad Father's Name: Pervaiz Iqbal Amjad",
 'Age: 27 Gender: Female ']

In [139]:
str1.startswith('n')

False

In [141]:
str6="          maria         "
str6.strip()

'maria'

In [142]:
str1.swapcase()

'MARIA NOOR'

In [143]:
str1.title()

'Maria Noor'

In [144]:
str1.upper()

'MARIA NOOR'

In [146]:
str5.zfill(10)

'0000001236'

'capitalize', ok
 'casefold', ok
 'center', ok
 'count',ok
 'encode', ok
 'endswith', ok
 'expandtabs', ok
 'find', ok
 'format', done above
 'format_map', ok
 'index', ok
 'isalnum', ok
 'isalpha', ok
 'isascii', ok
 'isdecimal', ok
 'isdigit', ok
 'isidentifier', ok
 'islower', ok
 'isnumeric', ok
 'isprintable', ok
 'isspace', ok
 'istitle', ok
 'isupper', ok
 'join', ok
 'ljust', ok
 'lower', ok
 'lstrip', ok 
 'maketrans',ok
 'partition', ok
 'removeprefix',ok
 'removesuffix', ok
 'replace', ok 
 'rfind', ok
 'rindex', ok
 'rjust', ok 
 'rpartition', ok
 'rsplit',ok
 'rstrip', ok
 'split', ok
 'splitlines', ok 
 'startswith', ok 
 'strip', ok
 'swapcase', ok
 'title', ok
 'translate', ok
 'upper',ok
 'zfill' ok]
​

<class 'SyntaxError'>: invalid syntax (<ipython-input-55-3b3d42434623>, line 1)